version: '2.4'
services:
  db:
    image: postgres
    container_name: postgres
    environment:
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - etc_data:/var/lib/postgresql

volumes:
  etc_data:
